@model IEnumerable<DormitoryUser.Models.Notification>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <!-- Chi tiết thông báo bên trái -->
                <div class="col-12 col-lg-12 col-xl-9">
                    <div class="card" style="border: none;">
                        <div class="card-header" style="border: none;">
                            <h4>Chi tiết thông báo</h4>
                        </div>
                        
                        <div class="card-body">
                            <h5 class="card-title">title</h5>
                            <p class="card-text">content</p>
                            <p class="text-muted">Ngày đăng:date</p>
                        </div>
                    </div>
                </div>

                <!-- Danh sách thông báo còn lại bên phải -->
                <div class="col-12 col-lg-12 col-xl-3">
                    <div class="card">
                        <div class="card-header">
                            <h4>Các thông báo khác</h4>
                        </div>
                        <div class="list-group">
                            @foreach(var i in Model)
                            {
                                <a href="#" class="list-group-item list-group-item-action">
                                    <h6 class="mb-1">@i.title</h6>
                                    <small class="text-muted">@i.date</small>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
