@model IEnumerable<DormitoryUser.Models.Announcement>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Thông báo</h1>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="w-100 p-3">
                    @foreach(var item in Model)
                    {



                        <a asp-action="Index" asp-controller="Notification" asp-route-id="@item.AnnouncementID" style="text-decoration: none">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <!-- Bên trái: Ảnh hình chữ nhật -->
                                        <div class="col-12 col-md-4">
                                            <div class="author-box-left">
                                                <img alt="image" src="D:\Project1\Server\DormitoryServer\DormitoryServer\Uploads\images\4471977e-e265-4887-a602-53715d61fe1b.jpg" class="img-fluid author-box-picture"
                                                     style="width: 100%; height: 100px; border-radius: 7px;">
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <!-- Bên phải: Nội dung và ngày đăng -->
                                        <div class="col-12 col-md-8 d-flex flex-column justify-content-between">
                                            <!-- Nội dung chính -->
                                            <div>
                                                <h5 class="mb-3">@item.Title</h5>
                                                <p>@item.Content</p>
                                            </div>
                                            <!-- Ngày đăng -->
                                            <div class="text-right mt-auto">
                                                <small class="text-muted">Ngày đăng: @item.CreationDate</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                  
                </div>
            </div>

        </div>
    </section>
</div>