@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <h1>Danh sách cán vụ KTX</h1>
                    </div>
                    <div class="section-body">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Lãnh đạo đơn vị</h4>
                                    </div>
                                    <div class="card-body row">
                                        <div class="card author-box card-primary col-sm-12 col-md-12 col-lg-6 col-xl-4">
                                            <div class="card-body">
                                                <div class="author-box-left">
                                                    <img alt="image" src="~/img/avatar/avatar-1.png" class="rounded-circle author-box-picture">
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="author-box-details">
                                                    <div class="author-box-name">
                                                        <a href="#">Nguyễn Văn A</a> 
                                                    </div>
                                                    <div class="author-box-job">Trưởng Ban</div>
                                                    <div class="author-box-description">
                                                        <span><strong>Phòng: </strong>203 - B3</span>
                                                        <br>
                                                        <span><strong>Email: </strong>daylamotcaimail@hust.edu.vn</span>
                                                        <br>
                                                        <span><strong>SĐT: </strong>0382212381</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card author-box card-primary col-sm-12 col-md-12 col-lg-6 col-xl-4">
                                            <div class="card-body">
                                                <div class="author-box-left">
                                                    <img alt="image" src="~/img/avatar/avatar-1.png" class="rounded-circle author-box-picture">
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="author-box-details">
                                                    <div class="author-box-name">
                                                        <a href="#">Nguyễn Văn B</a>
                                                    </div>
                                                    <div class="author-box-job">Phó Ban</div>
                                                    <div class="author-box-description">
                                                        <span><strong>Phòng: </strong>201 - B3</span>
                                                        <br>
                                                        <span><strong>Email: </strong>daylamotcaimail5@hust.edu.vn</span>
                                                        <br>
                                                        <span><strong>SĐT: </strong>0382214432</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card author-box card-primary col-sm-12 col-md-12 col-lg-6 col-xl-4">
                                            <div class="card-body">
                                                <div class="author-box-left">
                                                    <img alt="image" src="~/img/avatar/avatar-1.png" class="rounded-circle author-box-picture">
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="author-box-details">
                                                    <div class="author-box-name">
                                                        <a href="#">Nguyễn Văn C</a>
                                                    </div>
                                                    <div class="author-box-job">Phó Ban</div>
                                                    <div class="author-box-description">
                                                        <span><strong>Phòng: </strong>201 - B3</span>
                                                        <br>
                                                        <span><strong>Email: </strong>daylamotcaimail1@hust.edu.vn</span>
                                                        <br>
                                                        <span><strong>SĐT: </strong>038222233333</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Tổ hành chính</h4>
                                    </div>
                                    <div class="card-body row">
                                        <div class="card author-box card-primary col-sm-12 col-md-12 col-lg-6 col-xl-4">
                                            <div class="card-body">
                                                <div class="author-box-left">
                                                    <img alt="image" src="~/img/avatar/avatar-1.png" class="rounded-circle author-box-picture">
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="author-box-details">
                                                    <div class="author-box-name">
                                                        <a href="#">Trần Quang A</a>
                                                    </div>
                                                    <div class="author-box-job">Trưởng Ban</div>
                                                    <div class="author-box-description">
                                                        <span><strong>Phòng: </strong>202 - B3</span>
                                                        <br>
                                                        <span><strong>Email: </strong>daylamotcaimail@hust.edu.vn</span>
                                                        <br>
                                                        <span><strong>SĐT: </strong>0333221234</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card author-box card-primary col-sm-12 col-md-12 col-lg-6 col-xl-4">
                                            <div class="card-body">
                                                <div class="author-box-left">
                                                    <img alt="image" src="~/img/avatar/avatar-1.png" class="rounded-circle author-box-picture">
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="author-box-details">
                                                    <div class="author-box-name">
                                                        <a href="#">Phạm Văn A</a>
                                                    </div>
                                                    <div class="author-box-job">Phó Ban</div>
                                                    <div class="author-box-description">
                                                        <span><strong>Phòng: </strong>202 - B3</span>
                                                        <br>
                                                        <span><strong>Email: </strong>daylamotcaimail5@hust.edu.vn</span>
                                                        <br>
                                                        <span><strong>SĐT: </strong>038998132</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Tổ vệ sinh môi trường</h4>
                                    </div>
                                    <div class="card-body row">
                                        <div class="card author-box card-primary col-sm-12 col-md-12 col-lg-6 col-xl-4">
                                            <div class="card-body">
                                                <div class="author-box-left">
                                                    <img alt="image" src="~/img/avatar/avatar-1.png" class="rounded-circle author-box-picture">
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="author-box-details">
                                                    <div class="author-box-name">
                                                        <a href="#">Nguyễn Quang A</a>
                                                    </div>
                                                    <div class="author-box-job">Trưởng Ban</div>
                                                    <div class="author-box-description">
                                                        <span><strong>Phòng: </strong>205 - B3</span>
                                                        <br>
                                                        <span><strong>Email: </strong>daylamotcaimail@hust.edu.vn</span>
                                                        <br>
                                                        <span><strong>SĐT: </strong>0333221234</span>
                                                    </div>
                                                    <div class="w-100 d-sm-none"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card author-box card-primary col-sm-12 col-md-12 col-lg-6 col-xl-4">
                                            <div class="card-body">
                                                <div class="author-box-left">
                                                    <img alt="image" src="~/img/avatar/avatar-1.png" class="rounded-circle author-box-picture">
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="author-box-details">
                                                    <div class="author-box-name">
                                                        <a href="#">Phạm Văn D</a>
                                                    </div>
                                                    <div class="author-box-job">Phó Ban</div>
                                                    <div class="author-box-description">
                                                        <span><strong>Phòng: </strong>205 - B3</span>
                                                        <br>
                                                        <span><strong>Email: </strong>daylamotcaimail5@hust.edu.vn</span>
                                                        <br>
                                                        <span><strong>SĐT: </strong>038998132</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Tổ bảo vệ</h4>
                                    </div>
                                    <div class="card-body row">
                                        <div class="card author-box card-primary col-sm-12 col-md-12 col-lg-6 col-xl-4">
                                            <div class="card-body">
                                                <div class="author-box-left">
                                                    <img alt="image" src="~/img/avatar/avatar-1.png" class="rounded-circle author-box-picture">
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="author-box-details">
                                                    <div class="author-box-name">
                                                        <a href="#">Nguyễn Thị V</a>
                                                    </div>
                                                    <div class="author-box-job">Trưởng Ban</div>
                                                    <div class="author-box-description">
                                                        <span><strong>Phòng: </strong>206 - B3</span>
                                                        <br>
                                                        <span><strong>Email: </strong>daylamotcaimail@hust.edu.vn</span>
                                                        <br>
                                                        <span><strong>SĐT: </strong>0333221234</span>
                                                    </div>
                                                    <div class="w-100 d-sm-none"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card author-box card-primary col-sm-12 col-md-12 col-lg-6 col-xl-4">
                                            <div class="card-body">
                                                <div class="author-box-left">
                                                    <img alt="image" src="~/img/avatar/avatar-1.png" class="rounded-circle author-box-picture">
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="author-box-details">
                                                    <div class="author-box-name">
                                                        <a href="#">Mai Văn A</a>
                                                    </div>
                                                    <div class="author-box-job">Phó Ban</div>
                                                    <div class="author-box-description">
                                                        <span><strong>Phòng: </strong>206 - B3</span>
                                                        <br>
                                                        <span><strong>Email: </strong>daylamotcaimail5@hust.edu.vn</span>
                                                        <br>
                                                        <span><strong>SĐT: </strong>038998132</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
            </div>
    </section>
    </div>
