@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <h1>Phòng trọ</h1>
                    </div>
                    <div class="section-body">
                        <div class="row">
                            <div class="col-12 col-lg-12 col-xl-5">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Phòng trọ</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="author-box-details" id="info-description">
                                                    <div class="author-box-name">
                                                        <p><strong>Phòng trọ: </strong><span id="student-room"></span></p>
                                                        <p><strong>Số người hiện tại: </strong><span id="current-number"></span></p>
                                                        <p><strong>Số người tối đa: </strong><span id="max-number"></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12 col-xl-7">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Danh sách bạn cùng phòng</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div id="roomate-table"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </section>
        </div>