

<div class="container-fluid position-relative d-flex p-0">
    <div class="col m-5">
        <div class="card bg-light rounded h-100 p-4">
            <form asp-action="StudentDetail" asp-controller="User">
                <div class="row g-5">
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Mã phòng</label>
                            <input class="form-control" value="PH001">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Tên phòng</label>
                            <input class="form-control" value="303">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Tòa nhà</label>
                            <input class="form-control" value="A3">
                        </div>
                    </div>
                </div>
                <div class="row g-5">
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Số sinh viên</label>
                            <input class="form-control" value="6/8">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Tình trạng</label>
                            <input class="form-control" value="Đang sử dụng">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Ghi chú</label>
                            <input class="form-control" value="NULL">
                        </div>
                    </div>
                </div>
                <div class="row g-5 w-100">
                    <p class="fw-bold p-4">Danh sách sinh viên</p>
                    <table class="table table-striped m-3">
                        <thead class="fw-bold">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã sinh viên</th>
                                <th scope="col">Tên sinh viên</th>
                                <th scope="col">Giới tính</th>
                                <th scope="col">Số điện thoại liên lạc</th>
                                <th scope="col">#</th>
                                <th scope="col">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>211212355</td>
                                <td>Mao Minh</td>
                                <td>Nam</td>
                                <td>0988335327</td>
                                <td><a class="btn btn-outline-light">Chuyển phòng</a></td>
                                <td><a class="btn btn-danger">Xóa khỏi phòng</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>211212355</td>
                                <td>Mao Minh</td>
                                <td>Nam</td>
                                <td>0988335327</td>
                                <td><a class="btn btn-outline-light">Chuyển phòng</a></td>
                                <td><a class="btn btn-danger">Xóa khỏi phòng</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row g-5 w-100">
                    <p class="fw-bold p-4">Danh sách thiết bị</p>
                    <table class="table table-striped m-3">
                        <thead class="fw-bold">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Tên thiết bị</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Tình trạng</th>
                                <th scope="col">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Giường tầng</td>
                                <td>1000$</td>
                                <td>4</td>
                                <td>Mới</td>
                                <td><a class="btn btn-danger">Xóa thiết bị</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Quạt</td>
                                <td>1000$</td>
                                <td>4</td>
                                <td>Mới</td>
                                <td><a class="btn btn-danger">Xóa thiết bị</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row m-5">
                    <div class="col-4"></div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success m-2 w-75" data-bs-toggle="modal" data-bs-target="#addStudent">Thêm sinh viên</button>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success m-2 w-75" data-bs-toggle="modal" data-bs-target="#addEquipment">Thêm thiết bị</button>
                    </div>
                    <div class="col-4"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="addStudent">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thêm sinh viên vào phòng 301</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="floatingPassword" placeholder="">
                    <label for="floatingPassword">Mã sinh viên</label>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" >Thêm</button>
            </div>

        </div>
    </div>
</div>
<div class="modal" id="addEquipment">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thêm thiết bị vào phòng 301</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect"
                            aria-label="Floating label select example">
                        <option selected>Quạt</option>
                        <option value="1">Chỉ nhân viên</option>
                        <option value="2">Chỉ sinh viên</option>
                    </select>
                    <label for="floatingSelect">Thiết bị</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="">
                    <label for="floatingInput">Số lượng</label>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Thêm</button>
            </div>

        </div>
    </div>
</div>