@model Manager.Models.DormInvoice

@{
    ViewData["Title"] = "Create_Announcement";
}

<div class="container-fluid position-relative d-flex p-0">
    <div class="col m-5">
        <div class="row">
            <div class="card bg-light">
                <div class="bg-light rounded h-100 p-4">
                    <h2 class="mb-4">Tạo mới hóa đơn</h2>
                    <form asp-controller="Invoice" asp-action="CreateDormInvoice">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example">
                                <option selected>Điện</option>
                                <option value="1">Nước</option>
                                <option value="2">Khác</option>
                            </select>
                            <label for="floatingSelect">Loại hóa đơn</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.Description" type="text" class="form-control" id="floatingInput" placeholder="">
                            <label for="floatingInput">Mô tả</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.Note" type="text" class="form-control" id="floatingInput" placeholder="">
                            <label for="floatingInput">Ghi chú</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.TotalAmount" type="text" class="form-control" id="floatingInput" placeholder="">
                            <label for="floatingInput">Tổng tiền</label>
                        </div>
                        <button type="submit" class="btn btn-success m-2">Tạo mới biên lai</button>
                        <a asp-controller="Invoice" asp-action="DormInvoice" class="btn btn-secondary m-2">Trở về</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>