################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/User/DormitoryUser/DormitoryUser/DormitoryUser.csproj
