<div class="container-fluid position-relative d-flex p-0">
    <div class="col m-5">
        <div class="card bg-secondary rounded h-100 p-4">
            <form asp-action="StudentDetail" asp-controller="User">
                <div class="row g-5">
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Mã nhân viên</label>
                            <input class="form-control" value="NV7839">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Họ và tên</label>
                            <input class="form-control bg-dark" value="Mao Tuan Minh" readonly>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Chức vụ</label>
                            <input class="form-control bg-dark" value="Quản lý" readonly>
                        </div>
                    </div>
                </div>
                <div class="row g-5">
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Dân tộc</label>
                            <input class="form-control bg-dark" value="Kinh" readonly>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Tôn giáo</label>
                            <input class="form-control bg-dark" value="Không" readonly>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Quốc tịch</label>
                            <input class="form-control bg-dark" value="Việt Nam" readonly>
                        </div>
                    </div>
                </div>
                <div class="row g-5">
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Ngày sinh</label>
                            <input type="date" class="form-control bg-dark" id="dateInput" value="2003-01-01" readonly>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-check">
                            <label class="form-label my-3 fw-bold">Giới tính</label>
                            <div class="row">
                                <div class="col-2">
                                    <input class="form-check-input" type="radio" name="gridRadios"
                                           id="gridRadios1" value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        Nam
                                    </label>
                                </div>
                                <div class="col-2">
                                    <input class="form-check-input" type="radio" name="gridRadios"
                                           id="gridRadios2" value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        Nữ
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Số điện thoại</label>
                            <input class="form-control bg-dark" value="0988335327">
                        </div>
                    </div>
                </div>
                <div class="row g-5">
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Email</label>
                            <input class="form-control bg-dark" value="abc@@gmail.com">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Quê quán</label>
                            <input class="form-control bg-dark" value="Chí Linh - Hải Dương" readonly>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Số CMND/Thẻ căn cước</label>
                            <input class="form-control bg-dark" value="030203006666" readonly>
                        </div>
                    </div>
                </div>
                <div class="row g-5">
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Mã số BHXH</label>
                            <input class="form-control bg-dark" value="2341523623" readonly>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Phòng làm việc</label>
                            <input class="form-control" value="102-N1">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                        <div class="form-item">
                            <label class="form-label my-3 fw-bold">Giờ làm việc</label>
                            <input class="form-control" value="8:00 - 17:00 Thứ Hai - Thứ Sáu">
                        </div>
                    </div>
                </div>
                <div class="row m-5">
                    <div class="col-5"></div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success m-2 w-75">Cập nhật</button>
                    </div>
                    <div class="col-5"></div>
                </div>
            </form>
        </div>
    </div>
</div>