@model Manager.Models.Building
@{
    ViewData["Title"] = "Thêm phòng";
}
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="#" class="">
                        <h3 class="text-primary"><i class="fa fa-solid fa-building me-2"></i>Thêm tòa nhà</h3>
                    </a>
                </div>
                <form asp-controller="Admin" asp-action="AddBuilding" method="post">
                    <div class="form-floating mb-4">
                        <input asp-for="BuildingName" type="text" class="form-control" id="buildingName" placeholder="" required>
                        <label for="buildingName">Tên tòa nhà</label>
                    </div>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Thêm tòa nhà</button>
                </form>
            </div>
        </div>
    </div>
</div>