@model Manager.Models.Service

@{
    ViewData["Title"] = "Thêm dịch vụ";
}

<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a>
                        <h3 class="text-primary"><i class="fa fa-solid fa-receipt me-2"></i>Thêm dịch vụ</h3>
                    </a>
                </div>
                <form asp-controller="Admin" asp-action="AddService" method="post">
                    <div class="form-floating mb-4"> 
                        <input asp-for="ServiceName" name="serviceName" type="text" class="form-control" id="serviceName" placeholder="" required>
                        <label for="serviceName">Tên dịch vụ</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input asp-for="Unit" name="unit" type="text" class="form-control" id="unit" placeholder="" required>
                        <label for="unit">Đơn vị tính</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input asp-for="Price" name="price" type="number" min="0" class="form-control" id="price" placeholder="" required>
                        <label for="price">Giá</label>
                    </div>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Thêm dịch vụ</button>
                </form>
            </div>
        </div>
    </div>
</div>