@model Manager.Models.Announcement

@{
    ViewData["Title"] = "Tạo thông báo";
}

<div class="container-fluid position-relative d-flex p-0">
    <div class="col m-5">
        <div class="row">
            <div class="card bg-light">
                <div class="bg-light rounded h-100 p-4">
                    <h2 class="mb-4">Tạo mới thông báo</h2>
                    <form asp-controller="Information" asp-action="Create_Announcement" method="post">
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.Title" type="text" class="form-control" id="floatingInput" placeholder="" required>
                            <label for="floatingInput">Tiêu đề</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.Content" type="text" class="form-control" id="floatingInput" placeholder="" required>
                            <label for="floatingInput">Nội dung</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select asp-for="Target" asp-items="@(new List<SelectListItem> {
                                new SelectListItem { Text = "Tất cả", Value = "TatCa" },
                                new SelectListItem { Text = "Chỉ nhân viên", Value = "NhanVien" },
                                new SelectListItem { Text = "Chỉ sinh viên", Value = "SinhVien" }
                            })" class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example" required>
                            </select>
                            <label for="floatingSelect">Đối tượng</label>
                        </div>

                        <div class="mb-3">
                            <label for="formFile" class="form-label">Chọn ảnh</label>
                            <input asp-for="@Model.Image" class="form-control bg-white" type="file" id="formFile">
                        </div>
                        <button type="submit" class="btn btn-success m-2">Tạo mới</button>
                        <a asp-controller="Information" asp-action="Announcement" class="btn btn-secondary m-2">Trở về</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>