@model Manager.Models.New
@{
    ViewData["Title"] = "Thêm mới tin tức";
}

<div class="container-fluid position-relative d-flex p-0">
    <div class="col m-5">
        <div class="row">
            <div class="card bg-light">
                <div class="bg-light rounded h-100 p-4">
                    <h2 class="mb-4">Tạo mới tin tức</h2>
                    <form asp-controller="Information" asp-action="Create_Announcement">
                        <div class="form-floating mb-3">
                            <input asp-for="@Model.Title" type="text" class="form-control" id="floatingInput" placeholder="" required>
                            <label for="floatingInput">Tiêu đề</label>
                        </div>
                        <div class="form-item mb-3">
                            <label class="form-label my-3 fw-bold">Nội dung</label>
                            <textarea asp-for="@Model.Content" id="content" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-success m-2" asp-controller="Information" asp-action="Create_News">Tạo mới</button>
                        <a asp-controller="Information" asp-action="News" class="btn btn-secondary m-2">Trở về</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    ClassicEditor
        .create(document.querySelector('#content'))
        .catch(error => {
            console.error('Lỗi khi khởi tạo CKEditor 5:', error);
        });
</script>
