/* Page Dang Nhap */
#login-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/DangNhap/login_bg.png");
}

#notification-count{
  width: 20%;
  margin-left: 0;
  
}

.row{
  display: flex;
  overflow: hidden;
}

#info-description{
  margin-left: 0px;
}

.article-general{
  display:block;
  overflow:hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  width: 100%;
}

.invisible-button {
  background: transparent;
  border: none !important;
  font-size:0;
}

#content_yeu_cau {
  width: 100%;
  height: 150px;
}
#noi-dung-thong-bao {
  width: 100%;
  height: 150px;
}
.text-job-info{
  font-size:20px;
}
.card .card-stats .card-stats-2 {
  width: calc(100% / 2);
  text-align: center;
  padding: 5px 20px;
}

.tabulator-row.tabulator-selectable.tabulator-row-even{
  background-color: #f2f2f2;
}
/* .article-container{
  
} */

@media only screen and (max-width: 769px) {
  #login-background {
    display: none;
  }
  
}
@media only screen and (max-height: 769px) {
  #login-background {
    display: none;
  }
}
