
@{
    ViewData["Title"] = "Create_News";
}

<div class="bg-secondary rounded h-100 p-4">
    <h2 class="mb-4">Create New</h2>
    <form asp-controller="Information" asp-action="Create_News">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="">
            <label for="floatingInput">Tiêu đề chính</label>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Chon anh</label>
            <input class="form-control bg-dark" type="file" id="formFile">
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder=""
                      id="floatingTextarea" style="height: 150px;"></textarea>
            <label for="floatingTextarea">Chi tiết</label>
        </div>
        <button type="button" class="btn btn-success m-2" asp-controller="Information" asp-action="Create_Announcement">Tạo mới</button>
        <button type="button" class="btn btn-light m-2" asp-controller="Information" asp-action="Announcement">Trở về</button>
    </form>

</div>



