
@{
    ViewData["Title"] = "News";
}

<h1>News</h1>


<div class="container-fluid position-relative d-flex p-0">
    <!-- Content Start -->
    <div class="col m-5">
        <div class="row">
            <div class="card bg-dark p-3" style="width: 80%">
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                    <button type="button" class="btn btn-light m-2">Tìm theo nội dung</button>
                    <button type="button" class="btn btn-light m-2">Tìm theo nhân viên</button>
                    <button type="button" class="btn btn-light m-2">Sắp xếp theo thứ tự gần nhất</button>
                    <button type="button" class="btn btn-light m-2" asp-controller="Information" asp-action="Create_Announcement">Tạo mới thông báo</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="card bg-dark" style="width: 80%;">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Lịch sử thông báo</h6>
                    <table class="table table-striped">
                        <thead class="fw-bold">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Tiêu đề</th>
                                <th scope="col">Người đăng</th>
                                <th scope="col">Ngày đăng</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">#</th>
                                <th scope="col">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <a asp-action="Create_Announcement" asp-controller="Information" class="stretched-link">
                                <td>Thông báo nghỉ lễ Quốc khánh</td></a>
                                <td>Mao Minh</td>
                                <td>10/09/2024</td>
                                <td>Hoạt động</td>
                                <td><button type="button" class="btn btn-light m-2">Xóa</button></td>
                                <td><button type="button" class="btn btn-light m-2">Khôi phục</button></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <a asp-action="Create_Announcement" asp-controller="Information" class="stretched-link">
                                <td>Thông báo nghỉ học</td></a>
                                <td>Hong Minh</td>
                                <td>15/09/2024</td>
                                <td>Hoạt động</td>
                                <td><button type="button" class="btn btn-light m-2">Xóa</button></td>
                                <td><button type="button" class="btn btn-light m-2">Khôi phục</button></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <a asp-action="Create_Announcement" asp-controller="Information" class="stretched-link">
                                <td>Thông báo nghỉ lễ Quốc khánh</td></a>
                                <td>Mao Minh</td>
                                <td>10/09/2024</td>
                                <td>Hoạt động</td>
                                <td><button type="button" class="btn btn-light m-2">Xóa</button></td>
                                <td><button type="button" class="btn btn-light m-2">Khôi phục</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>
