@inject IHttpContextAccessor HttpContextAccessor

@{
    var studentName = HttpContextAccessor.HttpContext.Session.GetString("StudentName");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
          name="viewport" />
    <title>Thông tin &mdash; KTX</title>
    <!-- <script src="/app/frontend/assets/js/role-sinh-vien-validation.js" defer></script> -->
    <!-- General CSS Files -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous" />

    <!-- CSS Libraries -->

    <link href='~/assets/js/page/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='~/assets/js/page/fullcalendar/daygrid/main.css' rel='stylesheet' />

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/components.css" />
    <link rel="stylesheet" href="~/assets/css/custom.css" />
    <link rel="stylesheet" href="~/assets/css/customCalendar.css" />

    <script src='~/assets/js/page/fullcalendar/core/main.js'></script>
    <script src='~/assets/js/page/fullcalendar/daygrid/main.js'></script>


</head>

<body class="sidebar-mini">
    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg">
                                <i class="fas fa-bars"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                               data-toggle="search"
                               class="nav-link nav-link-lg d-sm-none">
                                <i class="fas fa-search"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="search-element"></div>
                </form>
                <ul class="navbar-nav navbar-right align-items-center">
                    <!-- Thông báo -->
                    <a asp-controller="Home" asp-action="Notification"
                        class="nav-link nav-link-lg">
                        <!-- Thêm class position-relative -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);"><path d="M12 22a2.98 2.98 0 0 0 2.818-2H9.182A2.98 2.98 0 0 0 12 22zm7-7.414V10c0-3.217-2.185-5.927-5.145-6.742C13.562 2.52 12.846 2 12 2s-1.562.52-1.855 1.258C7.185 4.074 5 6.783 5 10v4.586l-1.707 1.707A.996.996 0 0 0 3 17v1a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1v-1a.996.996 0 0 0-.293-.707L19 14.586z"></path></svg>
                        <div style="position: absolute; background-color: rgb(255,43,43); color: #ffffff; top:-10px; right: 3px; font-size:0.9rem; padding: 0rem 8px; border-radius:20px;"></div>
                    </a>
                    <!-- Existing User Dropdown -->
                    <li class="dropdown">
                        <a href="#"
                           data-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="~/assets/img/avatar/avatar-1.png" class="rounded-circle mr-1" />
                            <div class="d-sm-none d-lg-inline-block">Chào, @studentName<span class="student-name"></span></div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="~/Profile/Index"><div class="dropdown-title">Thông tin cá nhân</div></a>
                            <a href="~/ChangePassword/Index"><div class="dropdown-title">Thay đổi mật khẩu</div></a>
                            <a href="~/Account/SignOut" id="logout" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> Đăng xuất
                            </a>
                        </div>
                    </li>
                </ul>

            </nav>
            <div class="main-sidebar position-fixed">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a asp-controller="Track_Rent" asp-action="Home">Ký túc xá</a>
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a asp-controller="Track_Rent" asp-action="Home">KTX</a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Tổng quan</li>
                        <li class="menu-header">Thông tin phòng trọ</li>
                        <li class="nav-item dropdown">
                            <a asp-controller="Home" asp-action="Room" class="nav-link"><i class="fas fa-user-friends"></i> <span>Phòng trọ</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a asp-controller="Home" asp-action="Facilities" class="nav-link"><i class="fas fa-couch"></i> <span>Cơ sở vật chất</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a asp-controller="Home" asp-action="Track_Rent" class="nav-link"><i class="fas fa-dollar-sign"></i> <span>Theo dõi tiền trọ</span></a>
                        </li>
                        <li class="menu-header">Hỗ trợ</li>
                        <li class="nav-item dropdown">
                            <a asp-controller="Home" asp-action="Sent_Request" class="nav-link"><i class="fas fa-paper-plane"></i> <span>Gửi yêu cầu</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a asp-controller="RequestDetail" asp-action="Request_Sent" class="nav-link"><i class="fas fa-file-alt"></i> <span>Yêu cầu đã gửi</span></a>
                        </li>
                        <li class="menu-header">Khác</li>
                        <li class="nav-item dropdown">
                            <a asp-controller="Home" asp-action="Officer_Information" class="nav-link"><i class="fas fa-user"></i> <span>Thông tin cán vụ</span></a>
                        </li>
                    </ul>
                </aside>
            </div>

            <!-- Main Content -->
            @RenderBody()

        </div>
    </div>

    <!-- General JS Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="~/js/stisla.js"></script>

    <!-- JS Libraies -->
    <!-- Template JS File -->

    <script src="~/assets/js/scripts.js"></script>
    <script src="~/assets/js/calendar.js"></script>
    <script src="~/assets/js/custom.js"></script>
    @* <script src="~/js/role-sinh-vien-validation.js"></script> *@
    @* <script src="~/js/index.js"></script> *@

    <!-- Page Specific JS File -->
    <!-- Add class Active-->
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            const currentLocation = location.href; // Lấy URL hiện tại
            const menuItems = document.querySelectorAll('.sidebar-menu li a'); // Chọn các thẻ <a> trong <li>

            menuItems.forEach(item => {
                // Lấy đường dẫn cơ bản của item
                const itemHref = item.href;
                // Kiểm tra nếu URL hiện tại khớp với item hoặc nếu là trang con
                if (
                    currentLocation.includes(itemHref) || // Kiểm tra nếu URL hiện tại khớp với item
                    (itemHref.includes('/Notification') && currentLocation.includes('/Notification')) || // Thông báo
                    (itemHref.includes('/Room') && currentLocation.includes('/Room')) || // Phòng trọ
                    (itemHref.includes('/Facilities') && currentLocation.includes('/Facilities')) || // Cơ sở vật chất
                    (itemHref.includes('/Track_Rent') && currentLocation.includes('/Track_Rent')) ||
                    (itemHref.includes('/Track_Rent') && currentLocation.includes('/QRCode')) ||// Theo dõi tiền trọ
                    (itemHref.includes('/Sent_Request') && currentLocation.includes('/Sent_Request')) || // Gửi yêu cầu
                    (itemHref.includes('/Request_Sent') && currentLocation.includes('/Request_Sent')) || // Yêu cầu đã gửi
                    (itemHref.includes('/Officer_Information') && currentLocation.includes('/Officer_Information')) // Thông tin cán bộ

                ) {
                    item.parentElement.classList.add('active'); // Thêm lớp 'active' cho <li> cha
                } else {
                    item.parentElement.classList.remove('active'); // Xóa lớp 'active' nếu không khớp
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            // Giả lập thêm chức năng đếm số thông báo
            var notificationCount = $('.notification-count').text();
            if (notificationCount > 0) {
                $('.notification-count').show();
            } else {
                $('.notification-count').hide();
            }
        });

    </script>



</body>
</html>