@model Manager.Models.StaffRegistration

@{
    Layout = "_LayoutSignIn";
}

<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="index.html" class="">
                        <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>KTX</h3>
                    </a>
                    <h3>Đăng ký</h3>
                </div>
                <form method="post" asp-action="SignUp" asp-controller="Account">
                    <!-- Tài khoản -->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingText" placeholder="jhondoe" name="UserName" required>
                        <label for="floatingText">Tài khoản</label>
                    </div>

                    <!-- Email -->
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="Email" required>
                        <label for="floatingInput">Email</label>
                    </div>

                    <!-- Mật khẩu -->
                    <div class="form-floating mb-4">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="Password" required>
                        <label for="floatingPassword">Mật khẩu</label>
                    </div>

                    <!-- Nhập lại mật khẩu -->
                    <div class="form-floating mb-4">
                        <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Nhập lại mật khẩu" name="ConfirmPassword" required>
                        <label for="floatingConfirmPassword">Nhập lại mật khẩu</label>
                    </div>

                    <!-- Nút đăng ký -->
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Đăng ký</button>
                </form>
                <p class="text-center mb-0">Đã có tài khoản? <a asp-controller="Account" asp-action="SignIn">Đăng nhập</a></p>
            </div>
        </div>
    </div>
</div>
