@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Thông báo</h1>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="w-100 p-3">
                    <a href="~/Notification/Index" class="notification-detail" style="text-decoration: none">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <!-- Bên trái: Ảnh hình chữ nhật -->
                                    <div class="col-12 col-md-4">
                                        <div class="author-box-left">
                                            <img alt="image" src="~/img/notication.jpg" class="img-fluid author-box-picture"
                                                 style="width: 100%; height: auto; border-radius: 7px;">
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <!-- Bên phải: Nội dung và ngày đăng -->
                                    <div class="col-12 col-md-8 d-flex flex-column justify-content-between">
                                        <!-- Nội dung chính -->
                                        <div>
                                            <h5 class="mb-3">Content chính của thông báo</h5>
                                            <p>Đây là nội dung chính của thông báo, có thể là văn bản tóm tắt hoặc thông tin chi tiết về thông báo đó.</p>
                                        </div>
                                        <!-- Ngày đăng -->
                                        <div class="text-right mt-auto">
                                            <small class="text-muted">Ngày đăng: 11/10/2024</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <!-- Bên trái: Ảnh hình chữ nhật -->
                                <div class="col-12 col-md-4">
                                    <div class="author-box-left">
                                        <img alt="image" src="~/img/notication.jpg" class="img-fluid author-box-picture"
                                             style="width: 100%; height: auto; border-radius: 7px;">
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <!-- Bên phải: Nội dung và ngày đăng -->
                                <div class="col-12 col-md-8 d-flex flex-column justify-content-between">
                                    <!-- Nội dung chính -->
                                    <div>
                                        <h5 class="mb-3">Content chính của thông báo</h5>
                                        <p>Đây là nội dung chính của thông báo, có thể là văn bản tóm tắt hoặc thông tin chi tiết về thông báo đó.</p>
                                    </div>
                                    <!-- Ngày đăng -->
                                    <div class="text-right mt-auto">
                                        <small class="text-muted">Ngày đăng: 11/10/2024</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <!-- Bên trái: Ảnh hình chữ nhật -->
                                <div class="col-12 col-md-4">
                                    <div class="author-box-left">
                                        <img alt="image" src="~/img/notication.jpg" class="img-fluid author-box-picture"
                                             style="width: 100%; height: auto; border-radius: 7px;">
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <!-- Bên phải: Nội dung và ngày đăng -->
                                <div class="col-12 col-md-8 d-flex flex-column justify-content-between">
                                    <!-- Nội dung chính -->
                                    <div>
                                        <h5 class="mb-3">Content chính của thông báo</h5>
                                        <p>Đây là nội dung chính của thông báo, có thể là văn bản tóm tắt hoặc thông tin chi tiết về thông báo đó.</p>
                                    </div>
                                    <!-- Ngày đăng -->
                                    <div class="text-right mt-auto">
                                        <small class="text-muted">Ngày đăng: 11/10/2024</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>
            </div>
            </section>
        </div>