@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Xử lý các yêu cầu</h1>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                    <div class="card card-hero">
                        <div class="card-header">
                            <div class="card-icon">
                                <i class="far fa-question-circle"></i>
                            </div>
                            <h4 id="request"></h4>
                            <div class="card-description">Đơn yêu cầu hỗ trợ chưa xử lý</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Danh sách yêu cầu</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <span>
                                        <h6>Tìm kiếm dữ liệu theo cột</h6>
                                    </span>
                                    <select id="filter-field">
                                        <option></option>
                                        <option value="id">Mã yêu cầu</option>
                                        <option value="room">Phòng</option>
                                        <option value="sent_date">Ngày gửi</option>
                                        <option value="status">Tình trạng</option>
                                    </select>

                                    <select id="filter-type">
                                        <option value="like">like</option>
                                        <option value="=">=</option>
                                        <option value="<"><</option>
                                        <option value="<="><=</option>
                                        <option value=">">></option>
                                        <option value=">=">>=</option>
                                        <option value="!=">!=</option>
                                    </select>

                                    <input id="filter-value" type="text" placeholder="điền dữ liệu cần tìm">
                                </div>
                            </div>
                            <br>
                            <div id="student-parking-table"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
      </section>
    </div>
<div class="modal fade" id="student-request-modal" tabindex="-1" role="dialog" aria-labelledby="studentModal"
     aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="studentModal">Thông tin yêu cầu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card card-primary">
                        <div class="card-body">
                            <div class="author-box-details">
                                <div class="author-box-name">
                                    <form action="">
                                        <div>
                                            <p><strong>Tiêu đề: <span id="title"></span></strong></p>
                                        </div>
                                        <div>
                                            <p><strong>Mã yêu cầu: </strong><span id="id"></span></p>
                                        </div>
                                        <div>
                                            <p><strong>Ngày gửi: </strong><span id="CreatedAt"></span></p>
                                        </div>
                                        <div>
                                            <p><strong>Mã số sinh viên: </strong><span id="student_id"></span></p>
                                        </div>
                                        <div>
                                            <p><strong>Tình trạng: </strong><span id="request-status"></span></p>
                                        </div>
                                        <div>
                                            <p><strong>Nội dung: </strong></p>
                                            <p>
                                                <span id="message"></span>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p><strong>Phản hồi: </strong></p>
                                            <input type="text" class="form-control" value="" id="reply">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <div class="button">
                    <a id="send-button" href="#" class="btn btn-primary btn-md btn-icon icon-right" tabindex="4">Gửi</a>
                </div>
            </div>
        </div>
    </div>
</div>