@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Quản lý phòng trọ KTX</h1>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-lg-12 col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Số giường ký túc xá</h4>
                            <div class="card-header-action">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card card-statistic-2">
                                <div class="card-stats">
                                    <div class="card-stats-items">
                                        <div class="card-stats-item card-stats-2">
                                            <div class="card-stats-item-count" id="used-beds"></div>
                                            <div class="card-stats-item-label">Đang sử dụng</div>
                                        </div>
                                        <div class="card-stats-item card-stats-2">
                                            <div class="card-stats-item-count" id="empty-beds"></div>
                                            <div class="card-stats-item-label">Còn trống</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="card-icon shadow-primary bg-primary">
                                            <i class="fas fa-bed"></i>
                                        </div>
                                        <div class="card-wrap">
                                            <div class="card-header">
                                                <h4>Tổng số giường</h4>
                                            </div>
                                            <div class="card-body" id="total-beds">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card-icon shadow-primary bg-primary">
                                            <i class="fas fa-bed"></i>
                                        </div>
                                        <div class="card-wrap">
                                            <div class="card-header">
                                                <h4>Tổng số phòng</h4>
                                            </div>
                                            <div class="card-body" id="total-room">
                                                67
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4>Danh sách phòng</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <span><h6>Tìm kiếm dữ liệu theo cột</h6></span>
                                        <select id="filter_field">
                                            <option></option>
                                            <option value="roomID">Phòng</option>
                                            <option value="roomMax">Giới hạn</option>
                                            <option value="occupied">Đang có</option>
                                            <option value="empty">Trống</option>
                                            <option value="roomPrice">Giá</option>
                                        </select>
                                        <select id="filter_type">
                                            <option value="like">like</option>
                                            <option value="=">=</option>
                                            <option value="<"><</option>
                                            <option value="<="><=</option>
                                            <option value=">">></option>
                                            <option value=">=">>=</option>
                                            <option value="!=">!=</option>
                                        </select>

                                        <input id="filter_value" type="text" placeholder="điền dữ liệu cần tìm">
                                    </div>
                                    <div class="col-12">
                                        <a href="#" id="download-room-list-xlsx" style="float: right" class="btn btn-lg btn-success">Xuất Excel</a>
                                    </div>
                                </div>
                                <br>
                                <div id="room-table"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
      </section>
    </div>