@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Thay đổi mật khẩu</h1>
        </div>
        <div class="section-body">
            <div class="card">
                <div class="card-header">
                    <h4>Thay đổi mật khẩu của bạn</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="OldPassword">Mật khẩu cũ</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="OldPassword" placeholder="Nhập mật khẩu cũ">
                                <div class="input-group-append" style="cursor: pointer">
                                    <span class="input-group-text" onclick="togglePassword('OldPassword')">
                                        <i class="fa fa-eye" id="toggleOldPassword"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="NewPassword">Mật khẩu mới</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="NewPassword" placeholder="Nhập mật khẩu mới">
                                <div class="input-group-append" style="cursor: pointer">
                                    <span class="input-group-text" onclick="togglePassword('NewPassword')">
                                        <i class="fa fa-eye" id="toggleNewPassword"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ConfirmPassword">Xác nhận mật khẩu</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="ConfirmPassword" placeholder="Xác nhận mật khẩu mới">
                                <div class="input-group-append" style="cursor: pointer">
                                    <span class="input-group-text" onclick="togglePassword('ConfirmPassword')">
                                        <i class="fa fa-eye" id="toggleConfirmPassword"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                       <a id="submit-yeu-cau" href="#" class="btn btn-primary btn-md btn-icon icon-right" tabindex="4">Thay đổi mật khẩu</a>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    function togglePassword(fieldId) {
        var passwordField = document.getElementById(fieldId);
        var toggleIcon = document.querySelector(`#toggle${fieldId}`);

        if (passwordField.type === "password") {
            passwordField.type = "text";
            toggleIcon.classList.remove("fa-eye");
            toggleIcon.classList.add("fa-eye-slash");
        } else {
            passwordField.type = "password";
            toggleIcon.classList.remove("fa-eye-slash");
            toggleIcon.classList.add("fa-eye");
        }
    }
</script>
