@inject IHttpContextAccessor HttpContextAccessor

@{
    var Name = HttpContextAccessor.HttpContext.Session.GetString("fullname");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">


    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.0/classic/ckeditor.js"></script>
</head>

<body>
    <div class="container-fluid position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="#" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-solid fa-building me-2"></i> Quản lý KTX</h3>
                </a>

                <div class="navbar-nav w-100">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-people me-2"></i>Quản lý người dùng</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a asp-controller="User" asp-action="Student" class="dropdown-item ms-3"><i class="bi bi-person-circle me-2"></i> Sinh viên</a>
                            <a asp-controller="User" asp-action="Staff" class="dropdown-item ms-3"><i class="bi bi-person-circle me-2"></i> Nhân viên</a>
                        </div>
                    </div>
                    <a asp-controller="Information" asp-action="News" class="nav-item nav-link"><i class="fa bi bi-newspaper"></i>Bảng tin KTX</a>
                    <a asp-controller="Information" asp-action="Announcement" class="nav-item nav-link"><i class="bi bi-megaphone-fill me-2"></i>Thông báo</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa far fa-file-alt me-2"></i>Đơn đăng ký</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a asp-controller="Registration" asp-action="Registrations" class="dropdown-item ms-3"><i class="bi bi-journal-check me-2"></i> Đơn đã duyệt</a>
                            <a asp-controller="Registration" asp-action="nRegistrations" class="dropdown-item ms-3"><i class="bi bi-file-text-fill me-2"></i> Đơn chưa duyệt</a>
                        </div>
                    </div>
                    <a asp-controller="UtilityMeter" asp-action="List" class="nav-item nav-link"><i class="bi bi-droplet-half me-2"></i>Số điện, nước</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-receipt-cutoff me-2"></i>Hóa đơn/ Biên lai</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a asp-controller="Invoice" asp-action="RoomInvoice" class="dropdown-item ms-3"><i class="bi bi-house-fill me-2"></i> Phòng</a>
                            <a asp-controller="Invoice" asp-action="DormInvoice" class="dropdown-item ms-3"><i class="fa fa-solid fa-building me-2"></i> KTX</a>
                        </div>
                    </div>
                    <a asp-controller="Room" asp-action="Room" class="nav-item nav-link"><i class="bi bi-house-fill me-2"></i>Quản lý phòng</a>
                    <a asp-controller="SupportRequest" asp-action="List" class="nav-item nav-link"><i class="bi bi-question-square-fill me-2"></i>Yêu cầu hỗ trợ</a>
                    <a asp-controller="BaoCaoThongKe" asp-action="Index" class="nav-item nav-link"><i class="bi bi-bar-chart-fill me-2"></i>Báo cáo và thống kê</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-solid fa-user-lock me-2"></i></i>Admin</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a asp-controller="Admin" asp-action="ListBuilding" class="dropdown-item ms-3"><i class="fa fa-solid fa-building me-2"></i> Thêm tòa nhà</a>
                            <a asp-controller="Admin" asp-action="ListRoomType" class="dropdown-item ms-3"><i class="bi bi-house-fill me-2"></i> Thêm loại phòng</a>
                            <a asp-controller="Admin" asp-action="AddRoom" class="dropdown-item ms-3"><i class="bi bi-house-fill me-2"></i> Thêm phòng</a>
                            <a asp-controller="Admin" asp-action="ListRole" class="dropdown-item ms-3"><i class="bi bi-people me-2"></i> Thêm vai trò</a>
                            <a asp-controller="Admin" asp-action="ListEquipment" class="dropdown-item ms-3"><i class="bi bi-plus-square-fill me-2"></i> Thêm thiết bị</a>
                            <a asp-controller="Admin" asp-action="ListService" class="dropdown-item ms-3"><i class="fa fa-solid fa-receipt me-2"></i> Thêm dịch vụ</a>
                            <a asp-controller="Admin" asp-action="StaffRegistration" class="dropdown-item ms-3"><i class="bi bi-person me-2"></i> Duyệt tài khoản</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>

                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Tin nhắn</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="~/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Tính năng này đang được phát triển</h6>
                                        <small>0 phút trước</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">Xem tất cả tin nhắn</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Thông báo</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Tính năng này đang được phát triển</h6>
                                <small>0 phút trước</small>
                            </a>
                            <a href="#" class="dropdown-item text-center">Xem tất cả thông báo</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <span class="d-none d-lg-inline-flex">@Name</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a asp-controller="User" asp-action="TTCN" class="dropdown-item">Thông tin cá nhân</a>
                            <a asp-controller="Account" asp-action="ChangePassword" class="dropdown-item">Đổi mật khẩu</a>
                            <a asp-controller="Account" asp-action="SignOut" class="dropdown-item">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->
            <div style="min-height:900px">
                @RenderBody()
            </div>
            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            @@2024 Bản quyền thuộc KTX trường Đại học Giao thông vận tải
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <div class="rol"><a href="#"><i class="bi bi-facebook"></i></a></div>
                            <div class="rol"><a href="#"><i class="bi bi-youtube"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/chart/chart.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>
</body>
</html>
